* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
  html 
  body{
    box-sizing: border-box;
    margin: 5%; 
    background-color:#5d5d5d;
    display: flex;
    justify-content: center; 
}
.board {
    width: 760px; 
    height: 820px; 
    background-color: #462921;
    display: flex;
    justify-content: center; 
}

    .chess-board {
    margin-top: 50px;    
    width: 640px; 
    height: 720px; 
    background-color:#b5915f;  
    display: grid;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: 40px repeat(8,80px) 40px;
    grid-gap: 0;
}
        
.upper-numbers {
    display: grid;
    grid-column: 1/9 ;
    grid-row: 1/1;
    grid-auto-flow: column;
    background-color:#7d694c;
}
.lower-numbers {
    display: grid;
    grid-column: 1/9 ;
    grid-row: 10/10;
    grid-auto-flow: column;
    background-color:#7d694c;
}
.numbers{
    display:grid; 
    grid-auto-flow: column;
    text-align: center;
    align-self: center;
}

.field {
    height: 80px; 
    width: 80px; 
}

.field:nth-child(-2n+9), 
.field:nth-child(9) ~ div:nth-child(-2n+16),
.field:nth-child(17) ~ div:nth-child(-2n+25), 
.field:nth-child(25) ~ div:nth-child(-2n+32), 
.field:nth-child(33) ~ div:nth-child(-2n+41), 
.field:nth-child(41) ~ div:nth-child(-2n+48), 
.field:nth-child(49) ~ div:nth-child(-2n+57), 
.field:nth-child(57) ~ div:nth-child(-2n+64){
background-color: #441a03;
}
 
